body {
  background: rgb(204,204,204); 
}
div.page {
  background: white;
  display: block;
  margin: 0 auto;
}
div.page.A4 {  
  width: 21cm;
  height: 29.7cm;
  padding: 1cm 1cm 1cm 2cm;
}
div.page.A4[layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
div.page.A3 {
  width: 29.7cm;
  height: 42cm;
}
div.page.A3[layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
div.page.A5 {
  width: 14.8cm;
  height: 21cm;
}
div.page.A5[layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, div.page {
    margin: 0;
    box-shadow: 0;
  }
}